* {
    /* border-top: 10px solid #398dec88; */
    margin: 0;
    padding: 0;
}

/* PAGE SECTIONS */

body {
    color: #444;
    font-family: sans-serif;
    
    border-top: 10px solid red;
    position: relative;
}

.container {
    width: 800px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    position: relative;
}

/* h1, h2, h3, h4, p, li {        
    เป็นการประกาศรวมว่าจะใช้ใน tag ในส่วนไหนบ้าง
    font-family: sans-serif;   
    font-family เปลี่ยน font
    color: gray;
} */

h1, h2, h3 {
    color: blue;
}

h1 {
    color: blue;                    /*color เปลี่ยนสีตัวหนังสือ */
    font-size: 26px;                  /*font-size เปลี่ยนขนาดตัวหนังสือ*/
                                      /* font-family:sans-serif; font-family เปลี่ยน font */
    text-transform: uppercase;        /*text-transform การเปลี่ยนแปลงข้อความ*/
    font-style:italic;                /* font-style ส่วนใหญ่มักจะใช้กับ italic, oblique*/
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;                 /* เป็นการจัดหรือเรียง Paragraph */
    
}

p {
    font-size: 22px;
    line-height: 1.5;                   /*line-height ความห่างของบรรทัด */
    margin-bottom: 15px;
}

ul,ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

/* footer p {
    font-size: 16px;
} */

/* article header p {
    font-style: italic;
} */

#author {                              /*id จะใช้เครื่องหมาย # เป็นการประกาศ */
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author{                       /*class จะใช้เครื่องหมาย . เป็นการประกาศ */
    font-size: 18px;
    font-weight: bold;                 /* font-weight ขนาดความหนาของตัวอักษร */
}

/* ul {
    list-style: none;
} */

.related {
    list-style: none;
}

.main-header {
    background-color: #faf4f4;
    /* padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    padding: 20px 40px;
    margin-bottom: 60px;
}

nav {
    font-size: 18px;
    text-align: center;
}

article {
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 40px;
}

aside {
    background-color: gray;                 /* เป็นการใส่สี background ในส่วน aside  */
    border-top: 5px solid blue;             /* การกำหนดกรอบเส้นบน และกำหนดเส้นพร้อมใส่สี*/
    border-bottom: 5px solid blue;          /* การกำหนดกรอบเส้นล่าง และกำหนดเส้นพร้อมใส่สี*/
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 0;
    width: 500px;
}

/* body {
    background-color:blanchedalmond; เป็นการใส่สีในส่วนของ body
*/

.first-li {
    font-weight: bold;
}

li:first-child {                                /* li:first-child เป็นการสั่ง list ตัวแรก */
    font-weight: bold;
}

li:last-child {                                 /* li:first-child เป็นการสั่ง list ตัวสุดท้าย */
    font-style: italic;
}

/* li:nth-child(odd) {
    odd หมายถึง การเลือกเฉพาะเลขคี่ 1, 3, 5, 7
    color: blue;
} */

/* li:nth-child(even) {
    odd หมายถึง การเลือกเฉพาะเลขคู่ 2, 4, 6, 8
    color: blue;
} */

li:nth-child(2) {                               /* nth-child เป็นลำดับใน list ตามด้วย () */
    color: #dd00cb;
}

article p:first-child {         
    color: violet;
}


a:link {                                      /* กำหนด style ให้กับ link ปกติที่ยังไม่เคยถูก click */
    color: blue;
    text-decoration: none;
}

a:visited {                                     /* กำหนด style ให้กับ link ที่เคยถูกคลิกแล้ว */
    color: cyan;
}

a:hover {                                       /* hover เป็นการเอา mouses ไปชี้ทื่ link */
    color: orange;
    font-weight: bold;
    text-decoration: underline dotted yellow;
}

a:active {                                      /* กำหนด style ให้กับ link ขณะถูก click */
    background-color: black;
    font-style: italic;
}


.post-img {
    width: 100%;
    height: auto;
}

/* Resolving conflicts */

/* #copyright {
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: yellow;
}

footer p {
    color: green !important;
} */

nav a:link {
     margin-right: 30px;
     margin-top: 10px;
     display: inline-block; 
     
}

nav a:link:last-child {
    margin-right: 0;
}

button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;

    position: absolute;
    /* top: 50px;
    left: 50px; */

    bottom: 50px;
    right: 50px;
}

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

/* h3 + p::first-line {
    color: red;
} */

h2 {
    background-color: orange;
    position: relative;

}

h2::before {
    content: "TOP";
    background-color: yellow;
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position:absolute;
    top: -10px;
    right: -25px;
}

.main-header nav a:link {
    color: red;
    margin-top: 100px;
} 


